node_modules/
.venv/
.DS_Store
*.log
.npm-cache/
.npm/

# Next.js
.next/
out/
build/

# Prisma / DB
/generated/prisma
dev.db
dev.db-journal

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ralph
.complete
